@tailwind base;
@tailwind components;
@tailwind utilities;

.cti-input .q-field__inner {
    @apply bg-slate-100 rounded px-2;
}

.cti-input input {
    @apply py-2;
}
.cti-textarea textarea,
.cti-textarea div {
    @apply p-0.5 !important;
}

.cti-input-bold {
    @apply bg-slate-200 px-4 rounded;
}

.cti-button {
    @apply bg-slate-200 text-slate-700 rounded-full normal-case;
}

.cti-button-dark {
    @apply bg-slate-700 text-slate-200 rounded-full normal-case;
}

.cti-button-ghost {
    @apply bg-slate-600/10 text-slate-800 rounded-full normal-case;
}

.cti-button-ghost:before,
.cti-button-dark:before,
.cti-button:before {
    @apply shadow-none;
}

.cti-card {
    @apply rounded-lg p-6 space-y-4 shadow-sm;
}

/* Quasar: flex.styl */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.order-first {
    order: -10000;
}
.order-last {
    order: 10000;
}
/* TailwindCSS */
.flex {
    display: flex;
}
.order-first {
    order: -9999;
}
.order-last {
    order: 9999;
}

/* Quasar: mouse.styl */
.cursor-not-allowed {
    cursor: not-allowed !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
/* TailwindCSS */
.cursor-not-allowed {
    cursor: not-allowed;
}
.cursor-pointer {
    cursor: pointer;
}

/* Quasar: size.styl */
.block {
    display: block !important;
}
.inline-block {
    display: inline-block !important;
}
/* TailwindCSS */
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}

/* Quasar: typography.styl */
.text-justify {
    text-align: justify;
    hyphens: auto;
}
/* TailwindCSS */
.text-justify {
    text-align: justify;
}

/* Quasar: visibility.styl */
.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}
.overflow-auto {
    overflow: auto !important;
}
.overflow-hidden {
    overflow: hidden !important;
}
/* TailwindCSS */
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
